*{
    margin: 0;
    padding: 0; 
}

.cabeçalho{
    background-color: #070707;
    color: white;
    display: flex;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 12%;
}

.cabeçalho-lista-item{
    font-size: 50px;
}
